@import "@/assets/base/variables";

.home {
  background-image: url('@/assets/img/bg-admin-home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  color: $c-white;
}

.slick-list{
  height: 100% !important;
}
.slick-mask, .slick-track, .slide {
  height: 100% !important;
}