@import '~/assets/base/variables';

.date-picker__container input {
  border: 1px solid $c-line-2;
  outline: 0;
  position: relative;
}

// .date-picker__container input[type="date"] {
//   min-width: 220px;
// }


.input__icon {
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  top: 0px;
  margin: auto;
  width: max-content;
  height: 100%;
}

.border--danger {
  border: 1px solid $c-red-1 !important;
}

.border--success {
  border: 1px solid $c-green !important;
}